@import "~bootstrap/scss/bootstrap";
@import 'reset-css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


$primary_color: #8dba69;
$white_color: #ffffff;
$orange_color: #fd974e;
$grey_color: #747b88;
$blue_color: #3a7db7;


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/*Bootstrap Changes*/
.list-group-item {
  padding: 10px 5px;
}

.lanes {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  height: calc(100vh - 10px);
  scroll-behavior: smooth;
  .lane__item {
    position: relative;
    min-width: 42%;
    padding: 10px 10px 0;
    overflow: auto;
    &:first-child {
      padding-left: 10px;
    }
    &:nth-child(even) {
      background-color: #efefef;
    }
    .lane__item-fixed {
      position: relative;
      width: 100%;
      z-index: 99999;
      -webkit-box-shadow: 0px 0px 25px 0px rgba(148,151,165,0.55);
      -moz-box-shadow: 0px 0px 25px 0px rgba(148,151,165,0.55);
      box-shadow: 0px 0px 25px 0px rgba(148,151,165,0.55);
      transition: .2s;
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
      .header-block {
        background-color: $primary_color;
        color: $white_color;
        .header-block__lane {
          font-size: 21px;
          font-weight: 700;
          margin-bottom: 5px;;
        }
        .header-block__name {
          text-transform: uppercase;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; 
        }
      }
      .lights-vir {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lights-vir__lights {
          display: flex;
          & span {
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            margin-right: 5px;
          }
          .lights-vir__lights--green {
            background: $primary_color;
            border: 1px solid #82b15d;
          }
          .lights-vir__lights--orange {
            background: $orange_color;
            border: 1px solid #ed853b;
          }
          .lights-vir__lights--grey {
            background: $grey_color;
            border: 1px solid #5c6575;
          }
          .lights-vir__lights--blue {
            background: $blue_color;
            border: 1px solid #3177b4;
          }
        }
        .ligths-vir__vir {
          .vir__condition {
            padding: 3px 6px;
            border-radius: 3px;
            color: #ffffff;
          }
        }
      }
      .odometer__status {
        display: flex;
        align-items: center;
        justify-content: flex-start;
          &--value{
            font-size: 18px;
            margin-left: 10px;
          }
      }
      .biddin {
        display: flex;
        align-items: center;
        justify-content: flex-start;
          &__value{
            font-size: 18px;
            margin-left: 10px;
          }
      }
    }
    .lane__items-dynamic {
      margin-top: 20px;
    }
  }
}



.condition__exelent {
  background-color: #80e93a;
}